* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    overflow-x: hidden;
    background: #7F7FD5;  /* fallback for old browsers */
    background-color: rgb(169, 181, 223);
}

/*-- fonts! --*/
.open-sans {
    font-family: "Open Sans", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.gabarito {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.gabarito-light {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.jersey-20-regular {
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.manrope {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
/*-- header --*/
header {
    background: linear-gradient(to bottom, rgb(214, 216, 240), rgba(255, 255, 255, 0)); 
    height: 100px;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px 0 80px;
    position: sticky;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    vertical-align: middle;
}

li {
    float: left;
}

li a {
    text-decoration: none;
    text-align: center;
}

li p {
    padding: 13px;
    color: rgb(45, 51, 107);
    font-size: 18px;
    transition: all 0.3s ease-in-out;

}
li p:hover {
    color: rgb(45, 51, 107);
    transform: scale(1.05);
    transition: all 0.15s ease-in-out;
}

.OCBLogo {
    width: 35px;
    padding: 8px 0 0 0;
    transition: all 0.3s ease-in-out;
}
.OCBLogo:hover {
    transform: scale(1.05);
    transition: all 0.15s ease-in-out;
}

/*-- index --*/
.mainContent {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 200px);
    padding: 0 0 0 10vw;
    
}

.title {
    display: inline-block;
    font-size: 8vw;
    color: rgb(45, 51, 107);
    text-shadow: 0 0 100px rgb(214, 216, 240);
    line-height: 1;
}

.shortTitle {
    display: none;
    font-size: 7rem;
    color: rgb(45, 51, 107);
    text-shadow: 0 0 100px rgb(214, 216, 240);
    line-height: 1;
}

.container {
    position: relative;
    display: flex; 
    align-items: center;
    padding: 1rem 0 0 8.8vw;
}
  
.description {
    overflow: hidden; 
    font-size: clamp(1.3rem, 2vw, 5rem);
    color: rgb(45, 51, 107);
}

.descriptionContainer {
    display: flex;
    margin-top: 24vw;
    margin-left: 5vw;
    margin-right: 5vw;
    gap: 2vw;
    margin-bottom: 5vw;;
    flex-direction: row;
}

@media (max-width: 850px) {
  .descriptionContainer {
    flex-direction: column;
  }

  .mainTextBox2 {
    display: none;
  }

  .title {
    display: none;
  }
  .shortTitle {
    display: inline-block;
  }

  .mainContent {
    display: block;
    height: auto;
    margin-top: 8vh;
  }
}

.descriptionText {
    background: linear-gradient(to top right, rgb(214, 216, 240, 0.5), rgba(214, 216, 240, 0.1)); 
    background: linear-gradient(to bottom left, rgb(214, 216, 240, 0.5), rgba(214, 216, 240, 0.1)); 
    color: rgb(45, 51, 107);
    font-size: clamp(1.2rem, 1.7vw, 5rem);
    padding: 3vw 3vw 3vw 3vw;
    flex-direction: column;
    align-items: center;
    
    border-radius: 10px;
    transition: all 0.3s ease-in-out;

}
.mainTextBox2 {
    background: linear-gradient(to top right, rgb(214, 216, 240, 0.5), rgba(214, 216, 240, 0.1)); 
    background: linear-gradient(to bottom left, rgb(214, 216, 240, 0.5), rgba(214, 216, 240, 0.1)); 
    color: rgb(45, 51, 107);
    font-size: 1.5vw;
    padding: 1vw 1vw 1vw 1vw;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    width: 35vw;
}
.mainTextBox1:hover {
    background: linear-gradient(to top right, rgb(214, 216, 240, 0.5), rgba(214, 216, 240, 0.1)); 
    background: linear-gradient(to bottom left, rgb(214, 216, 240, 0.5), rgba(214, 216, 240, 0.1)); 
    color: rgb(45, 51, 107);
    font-size: 1.7vw;
    padding: 3vw 3vw 3vw 3vw;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    border-radius: 10px;
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}
.mainTextBox2:hover {
    background: linear-gradient(to top right, rgb(214, 216, 240, 0.5), rgba(214, 216, 240, 0.1)); 
    background: linear-gradient(to bottom left, rgb(214, 216, 240, 0.5), rgba(214, 216, 240, 0.1)); 
    color: rgb(45, 51, 107);
    font-size: 1.5vw;
    padding: 1vw 1vw 1vw 1vw;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    border-radius: 10px;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}
.pcImage {
    width: 30vw;
    margin-top: 2vw;
}

.bigText {
    font-size: 5vw;
    padding: 0 0 0 0;
    text-align: center;
    margin-top: 20vw;
    margin-bottom: 18vw;
}

.learnText {
    color: rgb(45, 51, 107);
    transition: all 1s ease-in-out;

}


/*-- members --*/
.noMembers {
    text-align: center;
    padding: 7vw 0 0 0;
    font-size: 1.5vw;
    color: rgb(45, 51, 107);
}

/*-- contact --*/
.contactTitle {
    text-align: center;
    font-size: max(3.3rem, 5vw);
    color: rgb(45, 51, 107);
    padding: 1.3em 0 0 0;
    animation: fadeIn 2s 0s;
}
.contactDescription {
    text-align: center;
    font-size: 1.3em;
    color: rgb(45, 51, 107);
    padding: 2em 30vw 0 30vw;
    animation: fadeIn 3s 0s;
}
.contactInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3em;
    color: rgb(45, 51, 107);
    padding: 2em 0 0 0;
    gap: 0.7em;
    animation: fadeIn 3s 0s;
}
.bi-envelope {
    height: 1.3em;
    width: 1.3em;
    stroke-width: .5; /* stroke thickness scales with viewport */
    stroke: currentColor;
    fill: currentColor;   
    overflow: visible;
    color:rgb(45, 51, 107);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    30% { opacity: 0; }
    100% { opacity: 1; }
}

/*-- animation keyframes --*/
/*-- blinking cursor --*/

.cursor::after {
  content: "";
  right: -10em;
  display: inline-block;
  background-color: #d4d8ff;
  vertical-align: bottom;
  width: .2em;
  height: 1em;
  -webkit-animation: blink 0.9s step-end infinite;
  animation: blink 0.9s step-end infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

/*-- text typing in index --*/  
@keyframes blink {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
}
  
/* @keyframes typewriter {
    from {
      width: 0; 
    }
    to {
      width: 70.2vw; 
    }
} */

/*-- scrollbar --*/
::-webkit-scrollbar {
    width: 5px;
    background:rgb(169, 181, 223);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(214, 216, 240);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(214, 216, 240);
    border-radius: 10px;
}

/*-- Members Page --*/
.siteContainer {
    margin: 5rem auto;
    max-width: calc(100% - 80px);
}
.cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 18rem);
    justify-content: center;
    gap: 3rem;
}

.memberCard {
    background: white;
    border-radius: .5rem;
    width: 18rem;
    height: 27rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: relative;
}

.memberBanner {
    height: 10rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.memberBanner img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: .5rem .5rem 0 0;
    object-fit: cover;
}

.memberAvatar {
    position: absolute;
    left: 50%;
    top: 10rem;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    
}

.memberAvatar img {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.35s cubic-bezier(.4, 2, .6, 1);
}

.memberAvatar:hover img {
    transform: scale(1.2);
}

.memberInfo {
    color: #000000;
    padding: 4.5rem 2rem 0rem 2rem;
}

.memberInfo h4 {
    color: #000000;
    font-size: 1.5rem;
    text-align: center;
}

.memberInfo .position {
    color: #616161;
    text-align: center;
    font-size: .7rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 1rem;
    font-weight: 700;
}